@if (isUserAdmin) {
<h2 class="text-align-center">Yönetici Paneli</h2>

<button type="button" class="adminButtonSpace" routerLink="/add-or-update-product">
    Ürün Ekle
</button>

<br>
<hr>
<br>
}

<div class="action-container">
    <button type="button" mat-flat-button color="primary" class="massive-mobile-btn" routerLink="/add-or-update-bbd-record">
        <mat-icon>add_circle_outline</mat-icon>
        SKT Ekle
    </button>
</div>


<h2 class="text-align-center">Mevlana SKT Listesi</h2>
<!-- 
    1. Kaldırılması Gereken Tarihe göre,
    2. Envanteri en çok etkileyecek ürüne göre
-->